# {{CONFIG_NAME}} Configuration
# {{CONFIG_DESCRIPTION}}
#
# Usage:
#   {{TOOL_COMMAND}} {{CONFIG_FLAG}} {{CONFIG_NAME}}.yml
#
# {{CONFIG_CONTEXT}}

{{CONFIG_SECTIONS}}

# {{SECTION_NAME}}
{{SECTION_COMMENT}}
{{SECTION_KEYS}}

{{#COMMON_PRESETS}}
# Common Presets:
# - {{PRESET_NAME}}: {{PRESET_DESCRIPTION}}
#   {{PRESET_KEYS}}
{{/COMMON_PRESETS}}
